doctype html
html( lang='en' )

  head
    // base url for angular router
    base( href='/' )
    meta( charset='utf-8' )
    meta( name='viewport', content='width=device-width' )
    title Chitchat
    link( rel='stylesheet', href='./css/vendor.bundle.min.css' )
    link( rel='stylesheet', href='./css/app.bundle.min.css' )

  body
    app
    script( src='./js/vendor.bundle.min.js' )
    script( src='./js/app.bundle.min.js' )
